.bg-show {
    animation: bg 1s forwards;
}

@keyframes bg {
    to {
        background-color: pink;
    }
}


.btn-success {
    border-radius: 2px !important;
}

.fade-text {
    opacity: 0;
    animation: animate-text 1s forwards;
}

@keyframes animate-text {
    to {
        opacity: 1;
    }
}